<section class="comment_form">
  <%= render 'comment_form' %>
</section>
<% if @comments.try(:any?) %>
  <h3>Comments (<%= @comments.count %>)</h3>
  <ol class="comments">
    <%= render @comments %>
  </ol>
<% end %>