<h3>お気に入りリスト</h3>
<strong id="fav_lists" class="stat">
<%= @user.fav_lists.count %>
</strong>投稿ををお気に入り
 <% if @posts.any? %>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= will_paginate @posts %>
  <% end %>