<div id="post-<%= post.id %>", class="col-sm-4 mb-28" >
  <div class="post">
    <%= link_to post_path(post), remote: true do %>
      <%= image_tag post.picture.url, class: "post_img" %>
    <% end %>
    <div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </div>
</div>