<div id="post-<%= post.id %>", class="col-sm-4 mb-28" >
  <div class="post">
    <%= link_to post_path(post), remote: true do %>
      <%= image_tag post.picture.url, class: "post_img" %>
    <% end %>
  </div>
</div>