<div class="form-horizontal form_search" role="form">
  <%= form_tag explore_path, method: :get do %>
    <div class="col-xs-2">
      <%= text_field_tag :explore, params[:explore], class: "form-control", placeholder: "検索" %>
    </div>
    <div class="col-xs-1">
      <%= submit_tag '検索', class: "btn btn-secondary", name: nil %>
    </div>
  <% end %>
</div>