<footer class="footer">
  <nav class="navbar-fixed-bottom">
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>