<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "mikanntarohのInsta App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "検索フォーム", '#' %></li>
        <li><%= link_to "Activity", '#' %></li>
        <li><%= link_to "MY PAGE", '#' %></li>
      </ul>
    </nav>
  </div>
</header>